<launch>
	<!-- Launch the zed camera
	<inlcude file="$(find zed_wrapper)/launch/zed.launch"/>
	 -->
	<node pkg="final_race" name="hough_find_pixel_target" type = "hough_transform.py" output="screen">
	</node>
	<node pkg="visual_servoing" name="homography_transformer" type="homography_transformer.py" output="screen">
	</node>
	
	<node pkg="final_race" type="final_race.py" name="final_race" output="screen">
		<param name="drive_topic" value="/vesc/low_level/ackermann_cmd_mux/input/navigation"/>
                <param name="target_topic" value="/relative_cone"/>
	</node>
</launch>
